.navbar {
    min-height: 60px;
}
  
div {
    font-family: "Roboto";
    color: white;
}
.navbar-brand {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
}
  
.navbar-toggle {
    margin-top: 23px;
    padding: 9px 10px !important;
}

.bg-custom {
    background-color: #38285c;
}

html
{
    height: 100%;
    width: 100%;
}

.junimoImage {
    height: 25%;
    width: 25%;
}

.intro {
    font-size: 20px;
}
#c1
{
    background: linear-gradient(to right, #4568DC, #B06AB3);
    padding-bottom: 8vh;
}

#c2
{
    background: linear-gradient(to top right, #834d9b, #d04ed6);
    padding-top: 8vh;
    padding-bottom: 8vh;
    color: white;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 17px;
}


#c3 {
    background: linear-gradient(to right, #5A51DF, #7474BF);
    padding-top: 8vh;
    padding-bottom: 8vh;
    
}

.titles
{
    font-style: bold;
    font-weight: 500;
    font-size: 25px;
}

#footer {
    color: rga(255, 255, 255, 0.45);
    font-size: 0.75em;
    max-width: 100%;
}
h1 {
    position: relative;
    font-family: 'Baloo Bhai', cursive;
    margin-top: -15px;
    z-index: 10;
}
p {
    position: relative;
    z-index: 10;
}

img {
    position: relative;
    margin: auto;
    max-width:100%;
    max-height:100%;
    margin-top: -20px;
}

.card {
    margin: auto;
    border: none;
    border-radius: 20px;
}
.logo {
    height: 80%;
    width: 55%; 
    text-align: center;
    display: block;
}
#sticky-footer {
    flex-shrink: none;
    color: white;
    opacity: 0.9;
    margin: auto;
}
.link-button {
    top: 5%;
}

table {
    position: relative;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 80%;
    table-layout: fixed;
    font-family: FontRegular;
    bottom: 70%;
    border: 2px #0E2352 solid;
}

table th {
    font-family: 'Lato', sans-serif;
    background-color: #0E2352;
    opacity: 50;
    font-size: 15px;
    color: white;
    text-align: center;
}
.underline {
    border-bottom: 0.2px solid rgb(59, 59, 59);
}
th,tr {
    padding: 10px;
}


.command {
    text-align: center; 
}
.example {
    text-align: center;
}
table tr {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(253, 253, 253);
    opacity: 50;
    font-size: 15px;
    color: rgb(59, 59, 59);
    height: 50px;
}
 
.colored-line {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
    opacity: 50;
    font-size: 15px;
    color: rgb(59, 59, 59);
    height: 50px;
}